/*custom*/
@import url(../../fonts/roboto/font.css);

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cookie {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}